@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
  font-family: 'fortnite';
  src: url(./BurbankBigWide-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'fortnite', sans-serif;
}

html{
  height: 100%;
}

body{
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Dela Gothic One', cursive; */
  font-family:'fortnite';
  text-decoration: none;
  min-height: 100%;
  /* font-family: 'Monofonto'; */
}

/* -------------------CUERPO------------------- */

div.header{
  /* color:rgba(144, 142, 164, 0.4); */
  padding-top: 1.2%;
  color:white;
}



